*          text=auto
*.bat      text eol=crlf
*.json     text
*.md       text diff=markdown
*.sh       text eol=lf
*.svg      text
*.yaml     text
*.yml      text
dist/**    -diff linguist-generated=true
go.mod     text
go.sum     text
LICENSE    text
scripts/** text eol=lf
